body
{
    background-color: indigo;
}

h1
{
    color: white;
}

h2{ 
    color: white;
}

p
{
    color: white;
    border: 5px solid magenta;
}

table
{
    background-color: rgb(246, 200, 109);
}
